ProjectTesting/out/*
.gradle
ProjectTesting/ProjectTesting.iml
ProjectTesting/target/*
CircleGameDeluxeJS/.idea/*
.DS_Store
images/.DS_Store
/.DS_Store
Circle.zip
JsWebServerTest/*
ProjectTesting/libJSServer/*
website/circle.com/Archive/*
website/circle.com/Game/*
website/Archive.zip
website/older/circle.com 0.2/Game/*
games/games old/circle 1.0 rar/*
games/games old/circle 2.0/*
ProjectTesting/.idea/workspace.xml