ProjectTesting/out/*
.gradle
ProjectTesting/ProjectTesting.iml
ProjectTesting/target/*
CircleGameDeluxeJS/.idea/*
.DS_Store
images/.DS_Store
/.DS_Store
Circle.zip
*.rar
games/games old/circle 1.0 rar/BallroomGame.rar
ProjectTesting/.idea/artifacts/JsServer.xml
website/.idea/misc.xml
website/.idea/workspace.xml
website/about.html