@import url(http://weloveiconfonts.com/api/?family=fontawesome);

.center{
margin: 0 auto;
width: 700px;
height: 700px;
padding: 10px;
}

#gameCanvas{
position: fixed;
background: black;
margin: 0 auto;
}

#songList{
position: fixed;
left: 35%;
bottom: 0;
width: 20%;
}

#Menu{
display: none;
}

#PauseMenu
{
display: none;
}

.absolute-text{
color: white;
position: absolute;
top: 5px;
left: 30%;
font-size: 24px;
font-style: normal;
font-family: 'Times New Roman', Times, serif;
padding: 30px;
width: 100px;
text-align: center;
}

.intervals{
color: white;
position: absolute;
top: 5px;
left:55%;
font-size: 24px;
font-style: normal;
font-family: 'Times New Roman', Times, serif;
font-style: 24px;
padding: 30px;
width: 200px;
text-align: center;
}

