@import url(http://weloveiconfonts.com/api/?family=fontawesome);

.rightbanner{
    background: orange;
    width: 20%;
    height: 700px;
    float: right;
}
.insiderightbanner{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: purple;
    border-radius: 20px;
}
.leftbanner{
    background: orange;
    width: 20%;
    height: 700px;
    float: left;
}
.insideleftbanner{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: purple;
    border-radius: 20px;
}